body {font-family: verdana, arial; background: white; margin-top: 3px; font-size:12px;}

a {color:#0000ff; font-size: 12px; text-decoration: none; }
a:visited {color:#0000ff; font-size: 12px; text-decoration: none; }
a:hover {color:#ff6633; font-size: 12px; text-decoration: none; }


ul {font-size: 12px;}
td {font-size: 12px}
p {font-size: 12px;}
div {font-size: 12px;}

li {list-style-position: inside; font-size: 12px; }

.banner {
	padding-bottom: 8px;
	padding-top: 0px;
	padding-left: 8px;
	padding-right: 8px;
	border-bottom: 3px solid #00cc00;
	margin-top: 0px;
	}

.banner2 {
	float: left; 	
	color: #00aa00;
	font-size: 14px;
	font-weight: bold;
}

.menu {padding-top: 10px;  padding-bottom: 20px;  padding-right: 10px;  padding-left: 5px;
background: white; margin-top: 10px; border: 3px solid #ccccdd; }

.here {padding-left: 5px; padding-right:1px; font-weight: bold; color:#ff6633; font-family: arial;}

.heading {font-size: 12pt; font-weight: bold; color: #009900;}

.content {padding: 10px; width: 580px;}

.footer {border-top: 1px solid #009900; margin-top: 10px;  margin-bottom: 10px; padding-top: 10px;}

.box1 {border: 1px black solid; background: white; padding: 5px;}
